<h1>
  Ilość dań na stronę:
</h1>
<ul>
  <li>
    <label for="5">5</label>
    <input type="radio" name="amount" id="5" (click)="setPerPage(5)">
  </li>
  <li>
    <label for="10">10</label>
    <input type="radio" name="amount" id="10" (click)="setPerPage(10)" checked>
  </li>
  <li>
    <label for="30">30</label>
    <input type="radio" name="amount" id="30" (click)="setPerPage(30)">
  </li>
  <li>
    <label for="50">50</label>
    <input type="radio" name="amount" id="50" (click)="setPerPage(50)">
  </li>
</ul>
