*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

form>*{
  flex: 0 0 calc(50% - 10px);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

label{
  font-size: 0.9rem;
  font-family: "DejaVu Sans Mono", sans-serif;
}

textarea{
  height: 100px;
  resize: none;
}

.error{
  color: red;
  font-size: 0.8rem;
}

@media (max-width: 500px) {
  form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
