*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  border: unset;
  border-radius: 10px;
  background: blue;
  color: white;
  font-weight: 900;
  padding: 10px;
  font-size: 1.2rem;
}

button:hover{
  cursor: pointer;
  background: #3838ff;
}
