div{
  width: 30px;
  height: 30px;
  background-color: #bb0000;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 10px;
}

div:hover{
  background-color: #a10000;
  cursor: pointer;
}

.locked{
  background-color: #443535!important;
}

div.locked:hover{
  background-color: #443535!important;
  cursor: unset;
}
