*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.buttons{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
